In [211]:
import pandas as pd
import numpy as np
shark_attacks_df = df = pd.read_excel("GSAF5.xls")
shark_attacks_df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Oct-2023,2023.0,Unprovoked,USA,Hawaii,"Hanalei Bay, Kauai",Surfing,Kevin Kanehe,M,50,...,"Tiger shark, 12' to 15'","Kaua'i Now, 10/15/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13 Oct-2023,2023.0,Questionable,USA,California,"Linda Mar, Pacific State Beach, San Mateo County",Surfing,male,M,52,...,NaN,CBS News. 10/13/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Oct-2023,2023.0,Unprovoked,USA,Hawaii,"Paia, Maui",Surfing,K. Cole,F,45,...,NaN,"The Beat of Hawaii, 10/2/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01 Oct-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Beachport,Swimming,Pamela Cook,F,64,...,NaN,"B. Myatt, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01 Oct-2023,2023.0,Unprovoked,USA,California,"Wildcat Beach, Marin County",Swimming,Felix Louis N'Jai,M,52,...,NaN,"SF Chronicle, 10/10/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [213]:
#dropping unnesseccary columns and assigning it to a new dataname
shark_attacks_dropped = shark_attacks_df.drop(["Name", "Sex", "Age", "Type", "Source", "pdf", "href formula","Unnamed: 11", "href", "Case Number", "Activity","Case Number.1", "original order","Unnamed: 21","Unnamed: 22"], axis=1)
shark_attacks_dropped

,Date,Year,Country,State,Location,Injury,Time,Species
0,15 Oct-2023,2023.0,USA,Hawaii,"Hanalei Bay, Kauai",Left leg and hand injured,16h00,"Tiger shark, 12' to 15'"
1,13 Oct-2023,2023.0,USA,California,"Linda Mar, Pacific State Beach, San Mateo County",Minor linjury to left lower leg,15h45,NaN
2,02 Oct-2023,2023.0,USA,Hawaii,"Paia, Maui",Minor injury. Shark bit surfboard,13h00,NaN
3,01 Oct-2023,2023.0,AUSTRALIA,South Australia,Beachport,Bite to foot and leg,07h45,NaN
4,01 Oct-2023,2023.0,USA,California,"Wildcat Beach, Marin County",Body not recovered,10h40,NaN
...,...,...,...,...,...,...,...,...
6926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [214]:
#checking the column names
shark_attacks_dropped.columns

Index(['Date', 'Year', 'Country', 'State', 'Location', 'Injury', 'Time',
       'Species '],
      dtype='object')

In [215]:
#lowercase the column names

new_shark_attacks_dropped = pd.Series(shark_attacks_dropped.columns).apply(lambda col:col.lower())
shark_attacks_dropped.columns = new_shark_attacks_dropped
shark_attacks_dropped

,date,year,country,state,location,injury,time,species
0,15 Oct-2023,2023.0,USA,Hawaii,"Hanalei Bay, Kauai",Left leg and hand injured,16h00,"Tiger shark, 12' to 15'"
1,13 Oct-2023,2023.0,USA,California,"Linda Mar, Pacific State Beach, San Mateo County",Minor linjury to left lower leg,15h45,NaN
2,02 Oct-2023,2023.0,USA,Hawaii,"Paia, Maui",Minor injury. Shark bit surfboard,13h00,NaN
3,01 Oct-2023,2023.0,AUSTRALIA,South Australia,Beachport,Bite to foot and leg,07h45,NaN
4,01 Oct-2023,2023.0,USA,California,"Wildcat Beach, Marin County",Body not recovered,10h40,NaN
...,...,...,...,...,...,...,...,...
6926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [216]:
#strip whitespaces from column names
shark_attacks_dropped.columns = shark_attacks_dropped.columns.str.strip()
shark_attacks_dropped.columns

Index(['date', 'year', 'country', 'state', 'location', 'injury', 'time',
       'species'],
      dtype='object')

In [217]:
# cleaning the year column
shark_attacks_dropped['year'] = pd.to_datetime(shark_attacks_dropped['year'], format='%Y', errors='coerce')

shark_attacks_dropped['year'] = shark_attacks_dropped['year'].dt.strftime('%Y')

shark_attacks_dropped

,date,year,country,state,location,injury,time,species
0,15 Oct-2023,2023,USA,Hawaii,"Hanalei Bay, Kauai",Left leg and hand injured,16h00,"Tiger shark, 12' to 15'"
1,13 Oct-2023,2023,USA,California,"Linda Mar, Pacific State Beach, San Mateo County",Minor linjury to left lower leg,15h45,NaN
2,02 Oct-2023,2023,USA,Hawaii,"Paia, Maui",Minor injury. Shark bit surfboard,13h00,NaN
3,01 Oct-2023,2023,AUSTRALIA,South Australia,Beachport,Bite to foot and leg,07h45,NaN
4,01 Oct-2023,2023,USA,California,"Wildcat Beach, Marin County",Body not recovered,10h40,NaN
...,...,...,...,...,...,...,...,...
6926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [218]:
shark_attacks_dropped["year"].ffill(inplace = True)

In [219]:
shark_attacks_dropped["year"] = shark_attacks_dropped["year"].map(int)

shark_attacks_dropped =  shark_attacks_dropped.loc[shark_attacks_dropped['year'] >= 1900]

shark_attacks_dropped

,date,year,country,state,location,injury,time,species
0,15 Oct-2023,2023,USA,Hawaii,"Hanalei Bay, Kauai",Left leg and hand injured,16h00,"Tiger shark, 12' to 15'"
1,13 Oct-2023,2023,USA,California,"Linda Mar, Pacific State Beach, San Mateo County",Minor linjury to left lower leg,15h45,NaN
2,02 Oct-2023,2023,USA,Hawaii,"Paia, Maui",Minor injury. Shark bit surfboard,13h00,NaN
3,01 Oct-2023,2023,AUSTRALIA,South Australia,Beachport,Bite to foot and leg,07h45,NaN
4,01 Oct-2023,2023,USA,California,"Wildcat Beach, Marin County",Body not recovered,10h40,NaN
...,...,...,...,...,...,...,...,...
6154,14-Jul-1900,1900,USA,Hawaii,"Makapu'u Point, O'ahu","Believed drowned. Uhlbrecht’s foot, and the pe...",NaN,Questionable
6155,Late Jul-1900,1900,USA,Connecticut,"Bridgeport, Fairfield County","No injury to occupants. They shot shark, then ...",NaN,NaN
6156,28-Jan-1900,1900,AUSTRALIA,New South Wales,"Lane Cove River, Sydney Harbor (Estuary)",Right posterior thigh bitten,12h00,NaN
6157,Early 1900s,1900,USA,Hawaii,"Inter-Island Dry Dock at Kakaako Street, Honol...",Severe abrasion when shark swam between his legs,NaN,NaN
6158,Ca. 1900,1900,SOUTH AFRICA,Eastern Cape Province,Port Elizabeth,Leg severed,Early morning,NaN

In [220]:
shark_attacks_dropped.isna().any()

date        False
year        False
country      True
state        True
location     True
injury       True
time         True
species      True
dtype: bool

In [221]:
shark_attacks_dropped.isna().sum()

date           0
year           0
country       24
state        339
location     402
injury        25
time        2870
species     2557
dtype: int64

In [222]:
shark_attacks_dropped.tail(150)

,date,year,country,state,location,injury,time,species
6009,Reported 04-Sep-1909,1909,USA,Delaware,"Lewes, Sussex County",Abrasion to leg from netted shark PROVOKED INC...,NaN,5' shark
6010,13-Aug-1909,1909,USA,Florida,"Pensacola Bay, Escambia County",FATAL,NaN,NaN
6011,24-Jul-1909,1909,USA,New York,Rockaway,Right leg bitten,Afternoon,NaN
6012,15-Jul-1909,1909,USA,Florida,"Panama City, Bay County",Hip & thigh lacerated,NaN,NaN
6013,Reported 26-Jun-1909,1909,MEXICO,Guerrero,Zacatula,FATAL,NaN,NaN
...,...,...,...,...,...,...,...,...
6154,14-Jul-1900,1900,USA,Hawaii,"Makapu'u Point, O'ahu","Believed drowned. Uhlbrecht’s foot, and the pe...",NaN,Questionable
6155,Late Jul-1900,1900,USA,Connecticut,"Bridgeport, Fairfield County","No injury to occupants. They shot shark, then ...",NaN,NaN
6156,28-Jan-1900,1900,AUSTRALIA,New South Wales,"Lane Cove River, Sydney Harbor (Estuary)",Right posterior thigh bitten,12h00,NaN
6157,Early 1900s,1900,USA,Hawaii,"Inter-Island Dry Dock at Kakaako Street, Honol...",Severe abrasion when shark swam between his legs,NaN,NaN
6158,Ca. 1900,1900,SOUTH AFRICA,Eastern Cape Province,Port Elizabeth,Leg severed,Early morning,NaN

In [223]:
#getting rid of empty rows
shark_attacks_dropped.dropna(thresh=5)

,date,year,country,state,location,injury,time,species
0,15 Oct-2023,2023,USA,Hawaii,"Hanalei Bay, Kauai",Left leg and hand injured,16h00,"Tiger shark, 12' to 15'"
1,13 Oct-2023,2023,USA,California,"Linda Mar, Pacific State Beach, San Mateo County",Minor linjury to left lower leg,15h45,NaN
2,02 Oct-2023,2023,USA,Hawaii,"Paia, Maui",Minor injury. Shark bit surfboard,13h00,NaN
3,01 Oct-2023,2023,AUSTRALIA,South Australia,Beachport,Bite to foot and leg,07h45,NaN
4,01 Oct-2023,2023,USA,California,"Wildcat Beach, Marin County",Body not recovered,10h40,NaN
...,...,...,...,...,...,...,...,...
6154,14-Jul-1900,1900,USA,Hawaii,"Makapu'u Point, O'ahu","Believed drowned. Uhlbrecht’s foot, and the pe...",NaN,Questionable
6155,Late Jul-1900,1900,USA,Connecticut,"Bridgeport, Fairfield County","No injury to occupants. They shot shark, then ...",NaN,NaN
6156,28-Jan-1900,1900,AUSTRALIA,New South Wales,"Lane Cove River, Sydney Harbor (Estuary)",Right posterior thigh bitten,12h00,NaN
6157,Early 1900s,1900,USA,Hawaii,"Inter-Island Dry Dock at Kakaako Street, Honol...",Severe abrasion when shark swam between his legs,NaN,NaN
6158,Ca. 1900,1900,SOUTH AFRICA,Eastern Cape Province,Port Elizabeth,Leg severed,Early morning,NaN

In [224]:
year = shark_attacks_dropped['year'].unique()
year

array([2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013,
       2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002,
       2001, 2000, 1999, 1998, 1997, 1996, 1995, 1984, 1994, 1993, 1992,
       1991, 1990, 1989, 1969, 1988, 1987, 1986, 1985, 1983, 1982, 1981,
       1980, 1979, 1978, 1977, 1976, 1975, 1974, 1973, 1972, 1971, 1970,
       1968, 1967, 1966, 1965, 1964, 1963, 1962, 1961, 1960, 1959, 1958,
       1957, 1956, 1955, 1954, 1953, 1952, 1951, 1950, 1949, 1948, 1947,
       1946, 1945, 1944, 1943, 1942, 1941, 1940, 1939, 1938, 1937, 1936,
       1935, 1934, 1933, 1932, 1931, 1930, 1929, 1928, 1927, 1926, 1925,
       1924, 1923, 1922, 1921, 1920, 1919, 1918, 1917, 1916, 1915, 1914,
       1913, 1912, 1911, 1910, 1909, 1908, 1907, 1906, 1905, 1904, 1903,
       1902, 1901, 1900])

In [225]:
target_value ="   nan"  # Change this to the value you want to search for

# Using the loc[] attribute to find row indices
rows_with_value = shark_attacks_dropped[shark_attacks_dropped["year"]==target_value]
rows_with_value

Empty DataFrame
Columns: [date, year, country, state, location, injury, time, species]
Index: []

In [226]:
import seaborn as sns

In [227]:
shark_attacks_dropped["country"].unique()

array(['USA', 'AUSTRALIA', 'EGYPT', 'PHILIPPINES', 'Coral Sea', 'BAHAMAS',
       'SPAIN', 'PORTUGAL', 'COLOMBIA', 'SOUTH AFRICA', 'ECUADOR',
       'FRENCH POLYNESIA', 'NEW CALEDONIA', 'TURKS and CaICOS', 'MEXICO',
       'BRAZIL', 'SEYCHELLES', 'ARGENTINA', 'FIJI', 'MeXICO', 'Maldives',
       'South Africa', 'ENGLAND', 'JAPAN', 'INDONESIA', 'JAMAICA',
       'BELIZE', 'MALDIVES', 'THAILAND', 'COLUMBIA', 'NEW ZEALAND',
       'COSTA RICA', 'New Zealand', 'British Overseas Territory',
       'CANADA', 'JORDAN', 'ST KITTS / NEVIS', 'ST MARTIN',
       'PAPUA NEW GUINEA', 'REUNION ISLAND', 'ISRAEL', 'CHINA', 'SAMOA',
       'IRELAND', 'ITALY', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS',
       'SOLOMON ISLANDS', 'ST HELENA, British overseas territory',
       'COMOROS', 'REUNION', 'UNITED KINGDOM', 'UNITED ARAB EMIRATES',
       'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS',
       'ARUBA', 'MOZAMBIQUE', 'PUERTO RICO', 'ATLANTIC OCEAN', 'GREECE',
       'ST. MARTIN', 'FRANCE', 'TRINIDAD & TOBAGO', 'KIRIBATI',
       'DIEGO GARCIA', 'TAIWAN', 'PALESTINIAN TERRITORIES', 'GUAM',
       'NIGERIA', 'TONGA', 'SCOTLAND', 'CROATIA', 'SAUDI ARABIA', 'CHILE',
       'ANTIGUA', 'KENYA', 'RUSSIA', 'TURKS & CAICOS',
       'UNITED ARAB EMIRATES (UAE)', 'AZORES', 'SOUTH KOREA', 'MALTA',
       'VIETNAM', 'MADAGASCAR', 'PANAMA', 'SOMALIA', 'NEVIS',
       'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL', 'YEMEN',
       'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN', 'GRAND CAYMAN',
       'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ', 'HONDURAS',
       'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'MARTINIQUE',
       'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA',
       'HAITI', 'SAN DOMINGO', 'KUWAIT', 'YEMEN ', 'FALKLAND ISLANDS',
       'CRETE', 'CYPRUS'], dtype=object)

In [228]:
countries = {
    'USA': 'usa',
    'AUSTRALIA': 'australia',
    'Coral Sea': 'australia',
    'EGYPT': 'egypt',
    'PHILIPPINES': 'philippines',
    'BAHAMAS': 'bahamas',
    'SPAIN': 'spain',
    'PORTUGAL': 'portugal',
    'COLOMBIA': 'colombia',
    'SOUTH AFRICA': 'south africa',
    'ECUADOR': 'ecuador',
    'FRENCH POLYNESIA': 'french polynesia',
    'NEW CALEDONIA': 'new caledonia',
    'TURKS and CaICOS': 'uk',
    'MEXICO': 'mexico',
    'BRAZIL': 'brazil',
    'SEYCHELLES': 'seychelles',
    'ARGENTINA': 'argentina',
    'FIJI': 'fiji',
    'MeXICO': 'mexico',
    'Maldives': 'maledives',
    'South Africa': 'south africa',
    'ENGLAND': 'uk',
    'JAPAN': 'japan',
    'INDONESIA': 'indonesia',
    'JAMAICA': 'jamaica',
    'BELIZE': 'belize',
    'MALDIVES': 'maledives',
    'THAILAND': 'thailand',
    'COLUMBIA': 'colombia',
    'NEW ZEALAND': 'new zealand',
    'COSTA RICA': 'costa rica',
    'New Zealand': 'new zealand',
    'British Overseas Territory': 'uk',
    'CANADA': 'canada',
    'JORDAN': 'jordan',
    'ST KITTS / NEVIS': 'uk',
    'ST MARTIN': 'netherlands',
    'PAPUA NEW GUINEA': 'papua new guinea',
    'REUNION ISLAND': 'france',
    'ISRAEL': 'israel',
    'CHINA': 'china',
    'SAMOA': 'samoa',
    'IRELAND': 'ireland',
    'ITALY': 'italy',
    'MALAYSIA': 'malaysia',
    'LIBYA': 'libya',
    'nan': 'australia',
    'CUBA': 'cuba',
    'MAURITIUS': 'mauritius',
    'SOLOMON ISLANDS': 'solomon islands',
    'ST HELENA, British overseas territory': 'uk',
    'COMOROS': 'comoros',
    'REUNION': 'france',
    'UNITED KINGDOM': 'uk',
    'UNITED ARAB EMIRATES': 'uae',
    'CAPE VERDE': 'cape verde',
    'Fiji': 'fiji',
    'DOMINICAN REPUBLIC': 'dominican republic',
    'CAYMAN ISLANDS': 'cayman islands',
    'ARUBA': 'aruba',
    'MOZAMBIQUE': 'mozambique',
    'PUERTO RICO': 'puerto rico',
    'ATLANTIC OCEAN': 'australia',
    'GREECE': 'greece',
    'ST. MARTIN': 'netherlands',
    'FRANCE': 'france',
    'TRINIDAD & TOBAGO': 'trinidad and tobago',
    'KIRIBATI': 'kiribati',
    'DIEGO GARCIA': 'diego garcia',
    'TAIWAN': 'taiwan',
    'PALESTINIAN TERRITORIES': 'palestina',
    'GUAM': 'usa',
    'NIGERIA': 'nigeria',
    'TONGA': 'tonga',
    'SCOTLAND': 'scotland',
    'CROATIA': 'croatia',
    'SAUDI ARABIA': 'saudi arabia',
    'CHILE': 'chile',
    'ANTIGUA': 'antigua barbuda',
    'KENYA': 'kenya',
    'RUSSIA': 'russia',
    'TURKS & CAICOS': 'uk',
    'UNITED ARAB EMIRATES (UAE)': 'uae',
    'AZORES': 'portugal',
    'SOUTH KOREA': 'south korea',
    'MALTA': 'malta',
    'VIETNAM': 'vietnam',
    'MADAGASCAR': 'madagascar',
    'PANAMA': 'panama',
    'SOMALIA': 'somalia',
    'NEVIS': 'saint kits and nevis',
    'BRITISH VIRGIN ISLANDS': 'uk',
    'NORWAY': 'norway',
    'SENEGAL': 'senegal',
    'YEMEN': 'yemen',
    'GULF OF ADEN': 'yemen',
    'Sierra Leone': 'sierra leone',
    'ST. MAARTIN': 'netherlands',
    'GRAND CAYMAN': 'uk',
    'Seychelles': 'seychelles',
    'LIBERIA': 'liberia',
    'VANUATU': 'vanatu',
    'MEXICO ': 'mexico',
    'HONDURAS': 'honduras',
    'VENEZUELA': 'venezuela',
    'SRI LANKA': 'sri lanka',
    ' TONGA': 'tonga',
    'URUGUAY': 'uruguay',
    'INDIA': 'india',
    'MICRONESIA': 'micronesia',
    'CARIBBEAN SEA': 'caribbean',
    'OKINAWA': 'japan',
    'TANZANIA': 'tanzania',
    'MARSHALL ISLANDS': 'marshall islands',
    'EGYPT / ISRAEL': 'egypt',
    'NORTHERN ARABIAN SEA': 'uae',
    'HONG KONG': 'china',
    'EL SALVADOR': 'el salvador',
    'ANGOLA': 'angola',
    'BERMUDA': 'uk',
    'MONTENEGRO': 'montenegro',
    'IRAN': 'iran',
    'TUNISIA': 'tunesia',
    'NAMIBIA': 'namibia',
    'NORTH ATLANTIC OCEAN': 'usa',
    'SOUTH CHINA SEA': 'china',
    'BANGLADESH': 'bangladesh',
    'PALAU': 'palau',
    'WESTERN SAMOA': 'samoa',
    'PACIFIC OCEAN ': 'usa',
    'BRITISH ISLES': 'uk',
    'GRENADA': 'grenada',
    'IRAQ': 'irak',
    'TURKEY': 'turkey',
    'SINGAPORE': 'singapore',
    'NEW BRITAIN': 'papua new guinea',
    'SUDAN': 'sudan',
    'JOHNSTON ISLAND': 'usa',
    'SOUTH PACIFIC OCEAN': 'australia',
    'NEW GUINEA': 'papua new guinea',
    'RED SEA': 'egypt',
    'NORTH PACIFIC OCEAN': 'usa',
    'FEDERATED STATES OF MICRONESIA': 'micronesia',
    'MID ATLANTIC OCEAN': 'usa',
    'ADMIRALTY ISLANDS': 'papua new guniea',
    'BRITISH WEST INDIES': 'uk',
    'SOUTH ATLANTIC OCEAN': 'ocean',
    'PERSIAN GULF': 'ocean',
    'RED SEA / INDIAN OCEAN': 'ocean',
    'PACIFIC OCEAN': 'australia',
    'NORTH SEA': 'ireland',
    'NICARAGUA ': 'nicaragua',
    'MALDIVE ISLANDS': 'maldive islands',
    'AMERICAN SAMOA': 'american samoa',
    'ANDAMAN / NICOBAR ISLANDAS': 'india',
    'GABON': 'gabon',
    'MAYOTTE': 'mayotte',
    'NORTH ATLANTIC OCEAN ': 'usa',
    'THE BALKANS': 'slovenia',
    'SUDAN?': 'sudan',
    'MARTINIQUE': 'france',
    'INDIAN OCEAN': 'ocean',
    'GUATEMALA': 'guatemala',
    'NETHERLANDS ANTILLES': 'netherlands',
    'NORTHERN MARIANA ISLANDS': 'northern mariana islands',
    'IRAN / IRAQ': 'iran',
    'JAVA': 'indonesia',
    'SIERRA LEONE': 'sierra leone',
    ' PHILIPPINES': 'philippines',
    'NICARAGUA': 'nicaragua',
    'CENTRAL PACIFIC': 'australia',
    'SOLOMON ISLANDS / VANUATU': 'solomon islands',
    'SOUTHWEST PACIFIC OCEAN': 'usa',
    'BAY OF BENGAL': 'india',
    'MID-PACIFC OCEAN': 'australia',
    'SLOVENIA': 'slovenia',
    'CURACAO': 'curazao',
    'ICELAND': 'iceland',
    'ITALY / CROATIA': 'italy',
    'BARBADOS': 'barbados',
    'MONACO': 'monaco',
    'GUYANA': 'guyana',
    'HAITI': 'haiti',
    'SAN DOMINGO': 'dominican republic',
    'KUWAIT': 'kuwait',
    'YEMEN ': 'yemen',
    'FALKLAND ISLANDS': 'falkland islands',
    'CRETE': 'greece',
    'CYPRUS': 'cyprus',
    'EGYPT ': 'egypt',
    'WEST INDIES': 'west indies',
    'BURMA': 'myanmar',
    'LEBANON': 'lebanon',
    'PARAGUAY': 'paraguay',
    'BRITISH NEW GUINEA': 'british new guinea',
    'CEYLON': 'sri lanka',
    'OCEAN': 'ocean',
    'GEORGIA': 'georgia',
    'SYRIA': 'syria',
    'TUVALU': 'tuvalu',
    'INDIAN OCEAN?': 'indian ocean',
    'GUINEA': 'papua new guinea',
    'ANDAMAN ISLANDS': 'india',
    'EQUATORIAL GUINEA / CAMEROON': 'cameroon',
    'COOK ISLANDS': 'cook islands',
    'TOBAGO': 'trinidad and tobago',
    'PERU': 'peru',
    'AFRICA': 'africa',
    'ALGERIA': 'algeria',
    'Coast of AFRICA': 'africa',
    'TASMAN SEA': 'australia',
    'GHANA': 'ghana',
    'GREENLAND': 'greenland',
    'MEDITERRANEAN SEA': 'australia',
    'SWEDEN': 'sweden',
    'ROATAN': 'honduras',
    'Between PORTUGAL & INDIA': 'portugal',
    'DJIBOUTI': 'djibouti',
    'BAHREIN': 'bahrein',
    'KOREA': 'korea',
    'RED SEA?': 'egypt',
    'ASIA?': 'japan',
    'CEYLON (SRI LANKA)': 'sri lanka',
}
shark_attacks_dropped['country']= list(map(lambda x: countries.get(x,x),shark_attacks_dropped['country']))
shark_attacks_dropped

/var/folders/1x/nk1pmjs57kd0k7pp1vkgtk7w0000gn/T/ipykernel_3556/3918236246.py:227: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_attacks_dropped['country']= list(map(lambda x: countries.get(x,x),shark_attacks_dropped['country']))

,date,year,country,state,location,injury,time,species
0,15 Oct-2023,2023,usa,Hawaii,"Hanalei Bay, Kauai",Left leg and hand injured,16h00,"Tiger shark, 12' to 15'"
1,13 Oct-2023,2023,usa,California,"Linda Mar, Pacific State Beach, San Mateo County",Minor linjury to left lower leg,15h45,NaN
2,02 Oct-2023,2023,usa,Hawaii,"Paia, Maui",Minor injury. Shark bit surfboard,13h00,NaN
3,01 Oct-2023,2023,australia,South Australia,Beachport,Bite to foot and leg,07h45,NaN
4,01 Oct-2023,2023,usa,California,"Wildcat Beach, Marin County",Body not recovered,10h40,NaN
...,...,...,...,...,...,...,...,...
6154,14-Jul-1900,1900,usa,Hawaii,"Makapu'u Point, O'ahu","Believed drowned. Uhlbrecht’s foot, and the pe...",NaN,Questionable
6155,Late Jul-1900,1900,usa,Connecticut,"Bridgeport, Fairfield County","No injury to occupants. They shot shark, then ...",NaN,NaN
6156,28-Jan-1900,1900,australia,New South Wales,"Lane Cove River, Sydney Harbor (Estuary)",Right posterior thigh bitten,12h00,NaN
6157,Early 1900s,1900,usa,Hawaii,"Inter-Island Dry Dock at Kakaako Street, Honol...",Severe abrasion when shark swam between his legs,NaN,NaN
6158,Ca. 1900,1900,south africa,Eastern Cape Province,Port Elizabeth,Leg severed,Early morning,NaN

In [229]:
shark_attacks_dropped["country"].value_counts().tail

<bound method NDFrame.tail of usa                     2409
australia               1340
south africa             567
papua new guinea         147
bahamas                  124
                        ...
saint kits and nevis       1
bangladesh                 1
namibia                    1
norway                     1
cyprus                     1
Name: country, Length: 118, dtype: int64>