In [1]:
import pandas as pd
import numpy as np
shark_attacks_df = df = pd.read_excel("GSAF5.xls")
shark_attacks_df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Oct-2023,2023.0,Unprovoked,USA,Hawaii,"Hanalei Bay, Kauai",Surfing,Kevin Kanehe,M,50,...,"Tiger shark, 12' to 15'","Kaua'i Now, 10/15/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13 Oct-2023,2023.0,Questionable,USA,California,"Linda Mar, Pacific State Beach, San Mateo County",Surfing,male,M,52,...,NaN,CBS News. 10/13/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Oct-2023,2023.0,Unprovoked,USA,Hawaii,"Paia, Maui",Surfing,K. Cole,F,45,...,NaN,"The Beat of Hawaii, 10/2/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01 Oct-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Beachport,Swimming,Pamela Cook,F,64,...,NaN,"B. Myatt, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01 Oct-2023,2023.0,Unprovoked,USA,California,"Wildcat Beach, Marin County",Swimming,Felix Louis N'Jai,M,52,...,NaN,"SF Chronicle, 10/10/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
#check the columns of the dataset
shark_attacks_df.nunique()

Date              5967
Year               257
Type                11
Country            223
State              892
Location          4482
Activity          1585
Name              5658
Sex                  8
Age                243
Injury            4064
Unnamed: 11         12
Time               408
Species           1666
Source            5271
pdf               6789
href formula      6785
href              6776
Case Number       6777
Case Number.1     6775
original order    6797
Unnamed: 21          1
Unnamed: 22          2
dtype: int64

In [3]:
#dropping unnesseccary columns and assigning it to a new dataname
shark_attacks_dropped = shark_attacks_df.drop(["Name", "Sex", "Age", "Type", "Source", "pdf", "href formula","Unnamed: 11", "href", "Case Number", "Case Number.1", "original order","Unnamed: 21","Unnamed: 22"], axis=1)
shark_attacks_dropped

,Date,Year,Country,State,Location,Activity,Injury,Time,Species
0,15 Oct-2023,2023.0,USA,Hawaii,"Hanalei Bay, Kauai",Surfing,Left leg and hand injured,16h00,"Tiger shark, 12' to 15'"
1,13 Oct-2023,2023.0,USA,California,"Linda Mar, Pacific State Beach, San Mateo County",Surfing,Minor linjury to left lower leg,15h45,NaN
2,02 Oct-2023,2023.0,USA,Hawaii,"Paia, Maui",Surfing,Minor injury. Shark bit surfboard,13h00,NaN
3,01 Oct-2023,2023.0,AUSTRALIA,South Australia,Beachport,Swimming,Bite to foot and leg,07h45,NaN
4,01 Oct-2023,2023.0,USA,California,"Wildcat Beach, Marin County",Swimming,Body not recovered,10h40,NaN
...,...,...,...,...,...,...,...,...,...
6926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#checking the column names
shark_attacks_dropped.columns

Index(['Date', 'Year', 'Country', 'State', 'Location', 'Activity', 'Injury',
       'Time', 'Species '],
      dtype='object')

In [5]:
#lowercase the column names

new_shark_attacks_dropped = pd.Series(shark_attacks_dropped.columns).apply(lambda col:col.lower())
shark_attacks_dropped.columns = new_shark_attacks_dropped
shark_attacks_dropped

,date,year,country,state,location,activity,injury,time,species
0,15 Oct-2023,2023.0,USA,Hawaii,"Hanalei Bay, Kauai",Surfing,Left leg and hand injured,16h00,"Tiger shark, 12' to 15'"
1,13 Oct-2023,2023.0,USA,California,"Linda Mar, Pacific State Beach, San Mateo County",Surfing,Minor linjury to left lower leg,15h45,NaN
2,02 Oct-2023,2023.0,USA,Hawaii,"Paia, Maui",Surfing,Minor injury. Shark bit surfboard,13h00,NaN
3,01 Oct-2023,2023.0,AUSTRALIA,South Australia,Beachport,Swimming,Bite to foot and leg,07h45,NaN
4,01 Oct-2023,2023.0,USA,California,"Wildcat Beach, Marin County",Swimming,Body not recovered,10h40,NaN
...,...,...,...,...,...,...,...,...,...
6926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#strip whitespaces from column names
shark_attacks_dropped.columns = shark_attacks_dropped.columns.str.strip()
shark_attacks_dropped.columns

Index(['date', 'year', 'country', 'state', 'location', 'activity', 'injury',
       'time', 'species'],
      dtype='object')

In [7]:
# replace emtpy cells with NaN
#df = df.replace("", np.nan, regex=True)

In [8]:
#customer_data[“customer lifetime value”] = customer_data[‘customer lifetime value’].replace(‘%’,‘’).astype(float)
#customer_data[“customer lifetime value”].value_counts()

shark_attacks_dropped["year"] = shark_attacks_dropped["year"].replace(".0", "")
shark_attacks_dropped

,date,year,country,state,location,activity,injury,time,species
0,15 Oct-2023,2023.0,USA,Hawaii,"Hanalei Bay, Kauai",Surfing,Left leg and hand injured,16h00,"Tiger shark, 12' to 15'"
1,13 Oct-2023,2023.0,USA,California,"Linda Mar, Pacific State Beach, San Mateo County",Surfing,Minor linjury to left lower leg,15h45,NaN
2,02 Oct-2023,2023.0,USA,Hawaii,"Paia, Maui",Surfing,Minor injury. Shark bit surfboard,13h00,NaN
3,01 Oct-2023,2023.0,AUSTRALIA,South Australia,Beachport,Swimming,Bite to foot and leg,07h45,NaN
4,01 Oct-2023,2023.0,USA,California,"Wildcat Beach, Marin County",Swimming,Body not recovered,10h40,NaN
...,...,...,...,...,...,...,...,...,...
6926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#check the data type of the year column
data_type = shark_attacks_dropped["year"].dtype
print(data_type)

float64

In [10]:
shark_attacks_dropped.isna().any()

date        True
year        True
country     True
state       True
location    True
activity    True
injury      True
time        True
species     True
dtype: bool

In [11]:
shark_attacks_dropped.isna().sum()

date          25
year          27
country       75
state        506
location     589
activity     609
injury        60
time        3543
species     3145
dtype: int64

In [12]:
shark_attacks_dropped.tail(150)

,date,year,country,state,location,activity,injury,time,species
6781,Ca. 1010 BC,0.0,JAPAN,NaN,Archeological site,NaN,FATAL,NaN,NaN
6782,Ca 4000 BC,0.0,PERU,Paloma,Archeological site,NaN,FATAL,NaN,NaN
6783,Prior to 1988,0.0,BELIZE,NaN,NaN,NaN,NaN,NaN,NaN
6784,After 2013,0.0,AUSTRALIA,Queensland,Otter Reef,Spearfishing,"Shark bumped him, but no injury",NaN,Hammerhead shark
6785,Before 1824,0.0,AUSTRALIA,Queensland,Newstead,Swimming,Left calf removed,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#getting rid of empty rows
shark_attacks_dropped.dropna(thresh=5)

,date,year,country,state,location,activity,injury,time,species
0,15 Oct-2023,2023.0,USA,Hawaii,"Hanalei Bay, Kauai",Surfing,Left leg and hand injured,16h00,"Tiger shark, 12' to 15'"
1,13 Oct-2023,2023.0,USA,California,"Linda Mar, Pacific State Beach, San Mateo County",Surfing,Minor linjury to left lower leg,15h45,NaN
2,02 Oct-2023,2023.0,USA,Hawaii,"Paia, Maui",Surfing,Minor injury. Shark bit surfboard,13h00,NaN
3,01 Oct-2023,2023.0,AUSTRALIA,South Australia,Beachport,Swimming,Bite to foot and leg,07h45,NaN
4,01 Oct-2023,2023.0,USA,California,"Wildcat Beach, Marin County",Swimming,Body not recovered,10h40,NaN
...,...,...,...,...,...,...,...,...,...
6901,Before 1903,0.0,AUSTRALIA,Western Australia,Roebuck Bay,Diving,FATAL,NaN,NaN
6902,Before 1903,0.0,AUSTRALIA,Western Australia,NaN,Pearl diving,FATAL,NaN,NaN
6903,1900-1905,0.0,USA,North Carolina,Ocracoke Inlet,Swimming,FATAL,NaN,NaN
6904,1883-1889,0.0,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,FATAL,NaN,NaN
6905,1845-1853,0.0,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,"FATAL. ""Shark bit him in half, carrying away t...",NaN,NaN

In [14]:
year = shark_attacks_dropped['year'].unique()
year

array([2023., 2022., 2021., 2020., 2019., 2018., 2017.,   nan, 2016.,
       2015., 2014., 2013., 2012., 2011., 2010., 2009., 2008., 2007.,
       2006., 2005., 2004., 2003., 2002., 2001., 2000., 1999., 1998.,
       1997., 1996., 1995., 1984., 1994., 1993., 1992., 1991., 1990.,
       1989., 1969., 1988., 1987., 1986., 1985., 1983., 1982., 1981.,
       1980., 1979., 1978., 1977., 1976., 1975., 1974., 1973., 1972.,
       1971., 1970., 1968., 1967., 1966., 1965., 1964., 1963., 1962.,
       1961., 1960., 1959., 1958., 1957., 1956., 1955., 1954., 1953.,
       1952., 1951., 1950., 1949., 1948., 1848., 1947., 1946., 1945.,
       1944., 1943., 1942., 1941., 1940., 1939., 1938., 1937., 1936.,
       1935., 1934., 1933., 1932., 1931., 1930., 1929., 1928., 1927.,
       1926., 1925., 1924., 1923., 1922., 1921., 1920., 1919., 1918.,
       1917., 1916., 1915., 1914., 1913., 1912., 1911., 1910., 1909.,
       1908., 1907., 1906., 1905., 1904., 1903., 1902., 1901., 1900.,
       1899., 1898., 1897., 1896., 1895., 1894., 1893., 1892., 1891.,
       1890., 1889., 1888., 1887., 1886., 1885., 1884., 1883., 1882.,
       1881., 1880., 1879., 1878., 1877., 1876., 1875., 1874., 1873.,
       1872., 1871., 1870., 1869., 1868., 1867., 1866., 1865., 1864.,
       1863., 1862., 1861., 1860., 1859., 1858., 1857., 1856., 1855.,
       1853., 1852., 1851., 1850., 1849., 1847., 1846., 1845., 1844.,
       1842., 1841., 1840., 1839., 1837., 1836., 1835., 1834., 1832.,
       1831., 1830., 1829., 1828., 1827., 1826., 1825., 1823., 1822.,
       1819., 1818., 1817., 1816., 1815., 1812., 1811., 1810., 1808.,
       1807., 1805., 1804., 1803., 1802., 1801., 1800., 1797., 1792.,
       1791., 1788., 1787., 1786., 1785., 1784., 1783., 1780., 1779.,
       1776., 1771., 1767., 1764., 1758., 1753., 1751., 1749., 1755.,
       1748., 1742., 1738., 1733., 1723., 1721., 1703., 1700., 1642.,
       1640., 1638., 1637., 1617., 1595., 1580., 1555., 1554., 1543.,
       1518., 1500., 1000.,   77.,    5.,    0.])

In [15]:
target_value ="   nan"  # Change this to the value you want to search for

# Using the loc[] attribute to find row indices
rows_with_value = shark_attacks_dropped[shark_attacks_dropped["year"]==target_value]
rows_with_value

Empty DataFrame
Columns: [date, year, country, state, location, activity, injury, time, species]
Index: []

In [16]:
shark_attacks_dropped['year'] = pd.to_datetime(shark_attacks_dropped['year'], format='%Y', errors='coerce')

shark_attacks_dropped['year'] = shark_attacks_dropped['year'].dt.strftime('%Y')

shark_attacks_dropped

,date,year,country,state,location,activity,injury,time,species
0,15 Oct-2023,2023,USA,Hawaii,"Hanalei Bay, Kauai",Surfing,Left leg and hand injured,16h00,"Tiger shark, 12' to 15'"
1,13 Oct-2023,2023,USA,California,"Linda Mar, Pacific State Beach, San Mateo County",Surfing,Minor linjury to left lower leg,15h45,NaN
2,02 Oct-2023,2023,USA,Hawaii,"Paia, Maui",Surfing,Minor injury. Shark bit surfboard,13h00,NaN
3,01 Oct-2023,2023,AUSTRALIA,South Australia,Beachport,Swimming,Bite to foot and leg,07h45,NaN
4,01 Oct-2023,2023,USA,California,"Wildcat Beach, Marin County",Swimming,Body not recovered,10h40,NaN
...,...,...,...,...,...,...,...,...,...
6926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
shark_attacks_dropped["year"].ffill(inplace = True)

In [18]:
shark_attacks_dropped.isna().sum()

date          25
year           0
country       75
state        506
location     589
activity     609
injury        60
time        3543
species     3145
dtype: int64

In [19]:
shark_attacks_dropped

,date,year,country,state,location,activity,injury,time,species
0,15 Oct-2023,2023,USA,Hawaii,"Hanalei Bay, Kauai",Surfing,Left leg and hand injured,16h00,"Tiger shark, 12' to 15'"
1,13 Oct-2023,2023,USA,California,"Linda Mar, Pacific State Beach, San Mateo County",Surfing,Minor linjury to left lower leg,15h45,NaN
2,02 Oct-2023,2023,USA,Hawaii,"Paia, Maui",Surfing,Minor injury. Shark bit surfboard,13h00,NaN
3,01 Oct-2023,2023,AUSTRALIA,South Australia,Beachport,Swimming,Bite to foot and leg,07h45,NaN
4,01 Oct-2023,2023,USA,California,"Wildcat Beach, Marin County",Swimming,Body not recovered,10h40,NaN
...,...,...,...,...,...,...,...,...,...
6926,NaN,1700,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6927,NaN,1700,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6928,NaN,1700,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6929,NaN,1700,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6930,NaN,1700,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
shark_attacks_dropped["year"] = shark_attacks_dropped["year"].map(int)

shark_attacks_dropped =  shark_attacks_dropped.loc[shark_attacks_dropped['year'] >= 1900]

shark_attacks_dropped

,date,year,country,state,location,activity,injury,time,species
0,15 Oct-2023,2023,USA,Hawaii,"Hanalei Bay, Kauai",Surfing,Left leg and hand injured,16h00,"Tiger shark, 12' to 15'"
1,13 Oct-2023,2023,USA,California,"Linda Mar, Pacific State Beach, San Mateo County",Surfing,Minor linjury to left lower leg,15h45,NaN
2,02 Oct-2023,2023,USA,Hawaii,"Paia, Maui",Surfing,Minor injury. Shark bit surfboard,13h00,NaN
3,01 Oct-2023,2023,AUSTRALIA,South Australia,Beachport,Swimming,Bite to foot and leg,07h45,NaN
4,01 Oct-2023,2023,USA,California,"Wildcat Beach, Marin County",Swimming,Body not recovered,10h40,NaN
...,...,...,...,...,...,...,...,...,...
6154,14-Jul-1900,1900,USA,Hawaii,"Makapu'u Point, O'ahu",Hunting seashells,"Believed drowned. Uhlbrecht’s foot, and the pe...",NaN,Questionable
6155,Late Jul-1900,1900,USA,Connecticut,"Bridgeport, Fairfield County",,"No injury to occupants. They shot shark, then ...",NaN,NaN
6156,28-Jan-1900,1900,AUSTRALIA,New South Wales,"Lane Cove River, Sydney Harbor (Estuary)","Standing, gathering oysters",Right posterior thigh bitten,12h00,NaN
6157,Early 1900s,1900,USA,Hawaii,"Inter-Island Dry Dock at Kakaako Street, Honol...",NaN,Severe abrasion when shark swam between his legs,NaN,NaN
6158,Ca. 1900,1900,SOUTH AFRICA,Eastern Cape Province,Port Elizabeth,Swimming,Leg severed,Early morning,NaN

In [22]:
list(shark_attacks_dropped["activity"].unique())

['Surfing',
 'Swimming',
 'Fishing',
 'On a round-the-world expedition',
 'Wading',
 'Kayak fishing',
 nan,
 'Spearfishing',
 'Snorkeling',
 'Boogie boarding',
 'Freediving',
 'Sitting',
 'Watching the sardine run',
 'Standing',
 'Filming',
 'Scuba diving',
 'Kite surfing',
 'Jumped overboard',
 'Diving for crayfish',
 'Windsurfing',
 'Kite-Surfing',
 'Surf-sking',
 'Diving with  surface-supplied air',
 'Spearishing',
 'Snorkeling at Shark Feeding site',
 'Diving/Shark Feeding',
 'Diving',
 'Surf skiing ',
 'Shipwreck',
 'Swimming  or Snorkeling',
 'Kayaking',
 'Paddleboarding',
 'Lobstering',
 'Lifeguard Training Exercise',
 'Lifeguard Exercises',
 'Scalloping',
 'Jumped into water',
 'Playing in the water',
 'Feeding sharks & stingrays',
 'Fihing',
 'Surface Supplied  Diving',
 'Floating in inflatable pool ring',
 'Fishing for sharks',
 'Wing Foil Surfing',
 'Swimmingq',
 'Playing',
 'Fishing, fell in water',
 'Harassing sharks',
 'Squatting in the water',
 'Moving captive shark',
 "Jackass Team's publicity stunt for Discovery Channel's Shark Week 2021",
 'Canoeing',
 'Parasailing',
 'Kite Foiling',
 'Baiting sharks',
 'Boggie boarding',
 'Stand Up Paddleboarding',
 'Tagging sharks',
 'Body boarding',
 'Body surfing',
 'Paddle boarding',
 'Swimming / Kayaking',
 'Fell off fishing boat',
 'Body Surfing',
 'Foil-boarding',
 'Surf fishing',
 'Fishing / Filming sharks feeding on whale carcass',
 'Sightseeing',
 'Treading water',
 'Skimboarding',
 'Body Boarding',
 'Stand-Up Paddleboarding',
 'Stand-Up Paddle boarding',
 'Floating ',
 'Swimming after being swept off rocks',
 'Free diving',
 'Feeding sharks',
 'Kayaking fishing',
 'Swimming/ Treading water',
 'Spearfishing / Diving',
 'Fishing ',
 'Body-surfing',
 'Abalone diving',
 'Swimming with sharks',
 'Picking opihi',
 'Diving in shark tank',
 'Paddling an outrigger canoe',
 'Diving / Filming',
 'Swimming/Standing',
 'Putting hand in shark tank',
 'Boogie Boarding',
 'Floating',
 'Paddling',
 'Scuba Diving',
 'Walking',
 'Surf-skiing',
 'Foilboarding',
 'Cleaning fish',
 'Fishing / Wading',
 '2 boats capsized',
 'Night bathing',
 'Surfing ',
 'Kayaking / Fishing',
 'Swimming, poaching abalone',
 'SUP',
 'Touching a shark',
 'Attempting to lasso a shark',
 'Photo shoot',
 'Kakaying',
 'Washing hands',
 'Grabbing shark for a selfie',
 'Cage Diving',
 'Surfng',
 'SUP Foil boarding',
 'Floating in tube',
 'Teasing a shark',
 'Diving for beche-de-mer',
 'Feeding stingrays?',
 'Sea disaster',
 'Lobster fishing',
 'Swimming / Wading',
 'Fishing for shrimp',
 'Photographing fish',
 'Kayak Fishing',
 'Scallop diving on hookah',
 'Body boarding ',
 'Body surfing?',
 'Attempting to rescue a shark',
 'Photographing the shark',
 'Standing / Snorkeling',
 'Hand feeding sharks',
 'Sitting in the water',
 'Transatlantic Rowing',
 'Bodysurfing',
 'Rowing',
 'Shark fishing',
 'Surfing & filming dolphins',
 'Swimming after falling overboard',
 'Fishing for blue sharks',
 'Standing in inner tube',
 'Body surfing or Boogie boarding',
 'Kayaking ',
 'Feeding fish',
 'Playing with an air mattress',
 'Kite boarding',
 'Shark diving',
 'Petting a shark',
 'Kneeling in the water',
 'Fell into the water',
 'Shark watching',
 'Diving for lobsters',
 'Kite Surfing',
 'Scuba diving / culling lionfish',
 'Kitesurfing',
 'Sailing',
 'Spearfishing / Free diving',
 'Free diving / Photographing pilot whales',
 'Filming a documentary',
 'Attempting to remove fishing net from submerged object',
 'Kiteboarding',
 'Diving ',
 'Swimming / snorkeling',
 'Diving for Abalone',
 'Casting a net',
 'Marathon swimming',
 'Longline fishing for sharks',
 'Wrangling a shark',
 'Attempting to free the shark',
 'Walking in surf',
 'Swimming ',
 'Swimming & snorkeling',
 'Playing in the surf',
 'Fly fishing',
 "Fishing - 'tag & release'",
 'Swimming to shore with floatioon devices after boat engine conked out',
 'Dragging stranded shark into deeper water',
 'Bathing',
 'Bodyboarding',
 'Swimming or boogie boarding',
 'Wading or swimming',
 'Free diving ',
 'Attempting to rescue an injured & beached shark',
 'Free diving / spearfishing',
 'Crayfishing',
 'Diving, feeding sharks',
 'Attempting to Kite surf from Egypt to Saudi Arabia',
 'Fishing (illegally)',
 'Diving, photographing sharks',
 'Wade fishing',
 'Jumping in the waves',
 'Wade Fishing',
 'Standing, collecting sea stars',
 'Swimming or Snorkeling',
 'Kayaking or Wave skiing',
 'Jet skiing',
 'Standing or boogie boardin',
 'Kite Boarding',
 'Washing sand off a speared fish',
 'Standing, holding shark pup',
 'Diving / fishing',
 'Wakeboarding',
 'Diving for abalone',
 'Shark fishing on the Ricardo Astorga',
 'Shark fishing on the Don Agustín-VI. ',
 'Attempting to fix motor',
 'Swimming /  Whale Watching',
 'Swimming after boat became disabled',
 'Rescuing',
 'Measuring sharks',
 'Swimming / treading water',
 'Surf fishing / wading',
 'Spearfishing (free diving)',
 'Paddling on kneeboard',
 'Swimming to shore from capsized kayak',
 'Paddle-boarding',
 'Swimming, attempting to rescue a girl  believed to be drowning',
 'Washing his feet',
 'Paddle-surfing',
 'Crawling',
 'Diving, but on the surface when bitten by the shark',
 'Air Disaster',
 'Crabbing',
 'Yacht race',
 'Sinking of the cargo ship Mark Jason',
 'Fishing boat swamped in storm',
 'Swimming, towing surfboard',
 'Swimming or surfing',
 'Rowing an inflatable dinghy',
 'Sea Disaster',
 'Night diving',
 'Free-diving',
 'Walking out of the water after surfing',
 'Fishing from surfski',
 "Accidentally stood on hooked shark's tail before attempting to gut it ",
 'Attempting to chase shark out to sea',
 'Fishing for snapper',
 'Removing fish from a trap',
 'The 426-ton cargo ship Mia, laden with cement, capsized in heavy seas ',
 'Wading?',
 'Jumping',
 'Floating near boat & observing bioluminesce',
 'Jumped into the water',
 'Surf paddling',
 'Murder',
 'Removing hook from shark',
 'Reviving a sedated shark',
 'Shark tagging',
 'Swimming / jumping off a jetty',
 'Playing on a sandbar',
 'Shrimping',
 'Swimming / Body Surfing',
 'Playing soccer in the water',
 'Free diving / modeling',
 'Diving / Kissing the shark',
 'Lifesaving drill',
 'Touching sharks',
 'Competing in the Woodvale Atlantic Rowing Race',
 'Night Surfing',
 'Standing / Surfing',
 'Treading water/ Surfing',
 'Removing shark from net',
 'Boogie boarding, kicked at object in the water',
 'Scuba diving in aquarium tank',
 'Holding onto an inflatable boat',
 'Swimming with boogie board',
 'Spearfishing (Free diving)',
 "Crouching in 2' of water",
 'SCUBA Diving',
 'Diving in aquarium display tank',
 'Attempting to drive shark away from sailing regatta',
 'Fishing from a kayak',
 'Swept out to sea by the tsunami, she clung  to a log for 24 hours',
 'Scurfing (surfboard being  towed behind a boat)',
 'Chumming for white sharks',
 'Spearfishing/ filming',
 'Diving & fishing with net',
 'Wading / fishing & carrying a bag of fish',
 'Fishing for squid aboard the trawler Shikishima-Maru when the shark leapt into the boat',
 'In water with diving seabirds',
 'Swimming, poaching perlemoen',
 'Boogie-boarding / swimming',
 'Free diving & spearfishing',
 'Tandem surfing',
 'Five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. Survivors rescued after  7.5 hours in the water',
 'Surf skiing',
 'Kayaking (returning from spearfishing)',
 'Air disaster. Flash Airlines Boeing 737 crashed into the Red Sea',
 'Swimming / shipwreck',
 'Surfing amid a shoal of sharks',
 'Swimming to shore from boat or kayak',
 'Sitting on surfboard',
 'Wading near a fishing net',
 'Wading to shore from his boat',
 'Standing, stepped on shark',
 'Wade-fishing',
 'Swimming, wearing black wetsuit & swim fins',
 'Walking, carrying surfboard & stepped on shark',
 'Swimming with pod of dolphins',
 'Killing  sharks',
 'Swimming (using a float)',
 'Petting captive sharks',
 'Unknown',
 "Fishing, standing in 2' of water",
 'Fishing from Surfboard',
 'Boogie boarding or Surfing',
 'Wading, when he stepped on the shark',
 'Shark Fishing',
 'Attempting to retreive a dinghy',
 'Snorkeling (filming the sardine run)',
 'Floating on a raft',
 'Fishing, removing the shark from his line',
 'Playing in the surf with his 2 dogs',
 'Collecting beche-de-mer',
 'Fishing from prawn trawler',
 'Scallop diving (using surface-supplied air & a POD) ',
 'Fishing (Drowned 2-Apr-2002)',
 'Surfing, but standing in water alongside board',
 'Body-boarding',
 'Swimming /  boogie boarding',
 'Capsized fishing boat',
 'Kite-Boarding',
 'Surfing, fell off surfboard & stepped on the shark.',
 'Wreck / Technical diving',
 'Walking in shallows',
 'Fell off banana boat',
 'Floating face-down in knee-deep water',
 'Hiking on the beach',
 'Spearfishing, carrying his catch',
 'Standing alongside surfboard',
 'Batin',
 'Attempting to catch a crocodile',
 "Sinking of the 40' Esperanza off St. Maartin with 36 refugees on board",
 'Fishing for whiting',
 'Swimming back from anchored sailboat',
 'Diving for sea urchins',
 'Diving (shell maintenance)',
 'Shipwrecked',
 'Fell onto dead shark',
 'Standing / surfing',
 'Swimming / Body surfing',
 'Conducting research',
 'Swimming out to porpoises ',
 'Windsurfing, but sitting on his board',
 'Surfing / Wading',
 'Attempting to illegally enter the USA',
 'Spearfishing, holding mesh bag with speared fish',
 'Air Disaster - Piper aircraft crashed into the sea, killing all on board',
 'Boogie boarding / wading',
 'Feeding prawns to captive sharks',
 'Canoe with 3 men onboard sank',
 'Fishing for tarpon',
 'Surfing (sitting on his board)',
 'Spearfishing, but swimming at surface',
 'Surfing, lying on surfboard',
 'Wading to shore after surfing',
 'Wading with surfboard',
 "Lying prone in 2' of water",
 'Spearfishing & holding catch',
 'Swimming with dolphins',
 'Wading in school of baitfish',
 'Adrift in a life jacket',
 'Splashing / wading',
 'Swimming after being swept into sea by a large wave',
 'Spearfishing & diving for paua',
 "Scientific research (Dr. Sonny Gruber's student)",
 'Swimming, towing a kayak',
 'Body surfing or body boarding',
 'Swimming near pod of whales',
 'Cruising',
 'Paddle Skiing',
 'Inflatable boat',
 'Splashing',
 'Fishing for tuna',
 'Fishing / washing bait off hands',
 'Moving a shark in a net ',
 'Surfing (or body boarding)',
 'Free diving for abalone',
 'Swimming / surfing',
 'Towing rubber dinghy',
 'Surfing (lying prone on his board)',
 'Snorkeling – hunting crayfish and abalone',
 'Swimming or paddle boarding',
 'Spearfishing on scuba & transferring fish onto a stringer',
 'Scuba diving (submerged riding a scooter)',
 'Body boarding or surfing',
 'Fishingat',
 'Walking / surfing',
 'SCUBA diving',
 'Floating on raft',
 'Wading / Surfing',
 'Fishing for octopus',
 'Spearfishing / night diving',
 'Body surfing, stood up on sandbar',
 'Rowing ',
 'Watching seals',
 'Attempting to attract dolphins',
 'Swimming or snorkeling',
 'Surfing / Swimming',
 'Free diving with a pod of dolphins',
 'Tech diving ',
 'Shell Diving',
 'Swimming breast stoke',
 'Fishing in knee-deep water',
 'Dived naked into the water on a bet',
 'Swimming in fish tank',
 'Boeing 757 enroute from Porta Plata plunged into the sea',
 'Swimming with mask & snorkel',
 'Chumming for sharks',
 'Diving, gathering shellfish',
 'Fell off aircraft carrier',
 'Playing / standing',
 'Abalone diving using Hookah (near calving whales)',
 'Abalone diving using Hookah (resting on the surface)',
 'On a float',
 '"Riding waves on a board"',
 'Jumped off surfboard & landed on the shark',
 'Scuba diving (ascending using scooter)',
 'Playing / jumping',
 'Sleeping in anchored boat',
 'Scuba diving for bivalves',
 'Wind surfing',
 'Surfing, sitting on board',
 'Murder victim',
 'Commercial diver (submerged or treading water)',
 'Surfing, paddling seawards',
 'Adrift on refugee raft',
 'Jumped off rocks into white water',
 'Freediving for seashells',
 'Swimming alongside NOAA research vessel Discoverer',
 'Removing shark from tank in nightclub ',
 'Swimming, after falling off towed kneeboard',
 'Playing volleyball with friends',
 'Hookah diving',
 'Surfing, paddling shorewards',
 'Stamding',
 'Watching the shark feeding on a dead pinniped',
 'Riding floatation device',
 'Free diving for abalone (ascending)',
 'Fishing for lobsters',
 'Oyster fishing',
 'Paddling on surfboard or body board',
 'Scuba diving at seal colony',
 'Floating on his back',
 'Paddling on surfboard',
 'Free diving & spearfishing (ascending)',
 '   ',
 'Standing in waist-deep water, helping his father tend a gill net containing dead fish',
 'Lying on surfboard',
 'Spearfishing / free diving',
 'Scuba diving (submerged)',
 'Hookah diving for sea urchins',
 'Snorkeling, carrying a speared fish in her hand',
 'Fell from cliff while fishing & disappeared in strong current',
 'Fisherman',
 "Zosimo & his son, Jeffrey Popa, failed to return from overnight fishing trip in a 14' boat, Boat apparently sank, debris recovered but his son & boat were never found",
 'Preparing to fish for jack-mackerel',
 'Scuba diving ',
 'Scuba diving & filming',
 'Hookah diving for pen shells ',
 'Fishing for yellowtail, Seriola quinqueradiata',
 'Diving for pen shells',
 'Fishing from rocks, swept out to sea by large wave & treading water',
 'Finning the shark that bit him',
 'Swimming from makeshift raft  to life vest after fishing boat sank',
 'Swimming behind sailboat',
 'Surfing, collided with shark',
 'Surfing (or sailboarding)',
 'Scuba diving (but on surface)',
 'Free diving / spearfishing, from paddleboard & floating on the surface',
 'Snorkeling, possibly holding a fish',
 'Resting on surfboard',
 'Lying on surfboard & paddling',
 'Free diving for trochus',
 'Scuba diving & spearfishing',
 'Board sailing',
 "On board 51' fishing vessel One Ki",
 'Wading, knocked down & swept away by large waves',
 'Swimming in canal',
 "Fishing, stepped on hooked shark's head",
 'Observing a shark feeding on a carcass of a humpback whale',
 'Hookah diving for abalone (descending)',
 "Filming 5' blue shark",
 'Playing ',
 "Fell off surfboard 20' from shore",
 'Windsurfing (urinating on his board)',
 'Scuba diving, but swimming on surface',
 'Swimming in strong current with 3 others when he disappeared',
 'Surfing with dolphins',
 'Scuba diving, hand feeding sharks',
 'Spearfishing using scuba & trailing a string of bleeding fish',
 'Skindiving',
 'The Christie V sank on 11/6/1988, survivors were adrift on a dinghy',
 'The MV Dona Marilyn sank in Typhoon Unsang with the loss of 389 lives',
 "Diving in Sharkey's Reef restaurant’s aquarium",
 'Free diving & spearfishing ',
 'Spearfishing on scuba',
 'Sittting in water with his child',
 'Shell diving',
 'Surfing / treading water',
 'pêcheur de bichiques',
 "Onboard 21' powerboat that capsized in rough seas",
 'Standing ',
 'Lying atop surfboard',
 'Drift fishing',
 'Fell overboard  from the Taiwanese fishing trawler Lien Cheng Feu ',
 "Attempting to lasso shark's tail",
 'Returning to shore, collided with shark',
 'Ferry boat Dona Paz with 4431 passengers exploded & caught fire when she collided with an  oil tanker ',
 'Vessel caught fire & capsized, survivors in the water',
 'Scuba Diving for scallops',
 'Dropping anchor',
 'Swimming from shore to anchored sailboat',
 'The inter-island ferry Vula sank in heavy weather',
 'Jumped into the water from a cliff',
 'Boat',
 'Adrift after ditching plane in the sea',
 'Free diving  & spearfishing (submerged)',
 'NSB Meshing',
 'Racing ski',
 'Fishing, fell from rocks & disappeared',
 'Diving for abalone (Hookah)',
 'Floating on inner tube after diving for lobster',
 'Free diving & spearfishing (descending)',
 'Bottom fishing for lingcod & had hooked a fish',
 'Playing in knee-deep water',
 'Surfing, but lying prone on his board',
 'Free diving for scallops',
 'Scuba Diving for lobster (at surface)',
 'Investigating shark sighting',
 'Sailing on catamaran & fell into the water',
 'Surfing or body surfing',
 'Free diving , but surfacing',
 'Boat capsized?',
 'Sea disaster, foundering of the cargo vessle M/V Dorolonda',
 "During a shark fishing tournament, the 18' Boatem was capsized by waves, throwing 3 men into the water ",
 'Towing her sister on plastic ski board',
 'Steinhart Aquarium',
 'Scuba diving for abalone',
 'Ferry boat sank',
 'Swimming from the New Venture ',
 '14 m prawn trawler New Venture capsized  & sank in heavy seas Three people in the water',
 'Floating on air mattress',
 'Surfing & dangling foot in water amid baitfish',
 'Water-skiing',
 'Paddleskiing',
 'Ran into the water',
 'In waist-deep water',
 'Yacht Trashman capsized in storm',
 'Free diving for abalone from Zodiac (submerged)',
 'Paddle Boarding',
 'Spearfishing ',
 'Sailboarding, fell into water 100 yards outside the breakwater',
 'Fishing on a boat',
 'Spearfishing, but swimming on surface',
 'Inspecting teeth of supposedly dead (hooked & shot) shark',
 "Diving to untangle a crab trap line from boat's propeller",
 "16' catamaran capsized previous night, occupants stayed with wreckage until morning, then attempted to swim ashore",
 'Snorkeling on surface',
 'Catching sardines',
 'Scuba diving, reportedly also spearfishing',
 'Foundering of the Israeli freighter Mezada',
 'Standing / Wading',
 'Free diving Spearfishing',
 'Exercising his dog in the shallows',
 'Commercial spearfishing',
 'Free diving / spearfishing, ',
 'Diving in tuna net',
 'Resting on body board',
 'Skin diving',
 'Sinking of the ferryboat Don Juan',
 'Sinking of the ferryboat Bongbong 1',
 'Hookah Diving',
 'Gaffing netted shark',
 'Freedom swimming',
 'Murdered by Thai pirates',
 'Floating with life preserver after his boat foundered',
 'Floating on inner tube raft',
 "Explosion destroyed 28' boat, survivors in the water ",
 'Fishing for mackerel',
 'Swimming, after single-engine aircraft went down in the sea',
 'Fishing for bottom fish',
 'Floating on an inflatable raft',
 'Free diving for abalone (surfacing)',
 "40' fishing boat sank",
 'Spearfishing / Scuba diving',
 'Collecting fish from net',
 'Fishing for yellowtail',
 'Their 9 m launch was run down by a 25,000-ton Japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days',
 "Pushed surfmat of a young girl out of the shark's path, drawing shark's attention to his own board",
 'Diving for abalone (Hookah, submerged)',
 'Thrashing the water / imitating the shark victim from "Jaws"',
 'Fishing for white shark',
 'Skindiving,',
 '3,909-ton Panamanian freighter Chieh Lee sank in a typhoon',
 'Surfing, fell off surfboard',
 "Sitting in bow of her father's 5 m boat",
 'Competing in a light tackle game fishing',
 'Fishing for snoek & yellowtail',
 'Spearfishing / scuba diving',
 'Attempting to drive shark away from the beach',
 'Filming & feeding captive sharks',
 'Floating on a small orange raft ',
 'Diving for abalone (Scuba)',
 'Diving for abaone (Scuba, but at surface)',
 'Swimming near his boat',
 'Spearfishing Competition',
 'Floating in inner tube',
 'Diving & force-feeding the shark',
 'Attempting to drag hooked shark ashore by its tail',
 'Ferry capsized',
 'Swimming underwater from crayfish cage to a fishing bait',
 ' Diving for abalone (Hookah)',
 '3.3 m fishing boat sank. Treveluwe & Peter Hodgson (wearing lifejackets) were drifting in the current',
 'Freedom Swimming',
 'Free diving for abalone (submerged)',
 'Adrift after the sinking of the motor yacht Princess Dianne',
 'Free diving (but on surface)',
 'Fishing boat swamped in a storm',
 'Fishing for kob',
 'Fishing for red fish',
 'Swimming alongside yacht Mexico Fiesta',
 'Being pulled to shore from wreck of 25-ton fishing vessel Alan S',
 'Free diving, Spearfishing',
 'Crabbing (spearing crabs)',
 'Fishing from paddleski',
 'Scuba diving & U/W photography',
 'Sitting in shallows',
 'Free diving, collecting shells',
 'Scuba diving & feeding fish',
 'Hookah diving (submerged)',
 'Wreck of the 1689-ton Portuguese  coaster Angoche',

In [24]:
shark_attacks_dropped.drop(columns = "activity")

,date,year,country,state,location,injury,time,species
0,15 Oct-2023,2023,USA,Hawaii,"Hanalei Bay, Kauai",Left leg and hand injured,16h00,"Tiger shark, 12' to 15'"
1,13 Oct-2023,2023,USA,California,"Linda Mar, Pacific State Beach, San Mateo County",Minor linjury to left lower leg,15h45,NaN
2,02 Oct-2023,2023,USA,Hawaii,"Paia, Maui",Minor injury. Shark bit surfboard,13h00,NaN
3,01 Oct-2023,2023,AUSTRALIA,South Australia,Beachport,Bite to foot and leg,07h45,NaN
4,01 Oct-2023,2023,USA,California,"Wildcat Beach, Marin County",Body not recovered,10h40,NaN
...,...,...,...,...,...,...,...,...
6154,14-Jul-1900,1900,USA,Hawaii,"Makapu'u Point, O'ahu","Believed drowned. Uhlbrecht’s foot, and the pe...",NaN,Questionable
6155,Late Jul-1900,1900,USA,Connecticut,"Bridgeport, Fairfield County","No injury to occupants. They shot shark, then ...",NaN,NaN
6156,28-Jan-1900,1900,AUSTRALIA,New South Wales,"Lane Cove River, Sydney Harbor (Estuary)",Right posterior thigh bitten,12h00,NaN
6157,Early 1900s,1900,USA,Hawaii,"Inter-Island Dry Dock at Kakaako Street, Honol...",Severe abrasion when shark swam between his legs,NaN,NaN
6158,Ca. 1900,1900,SOUTH AFRICA,Eastern Cape Province,Port Elizabeth,Leg severed,Early morning,NaN